<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ApiRestDesktopClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>

	<appSettings>
		<add key="UrlApiLoginx"           value="https://localhost:7234/Login/"/>
		<add key="UrlApiDapperx"          value="https://localhost:7234/EmployeesDapper/"/>
		<add key="UrlApiEntityFrameworkx" value="https://localhost:7234/EmployeesEntityFramework/"/>
		<add key="UrlApiLoginy"           value="http://elmer/ApiRestService/Login/"/>
		<add key="UrlApiDappery"          value="http://elmer/ApiRestService/EmployeesDapper/"/>
		<add key="UrlApiEntityFrameworky" value="http://elmer/ApiRestService/EmployeesEntityFramework/"/>
		<add key="UrlApiLoginz"           value="http://elmer.somee.com/Login/"/>
		<add key="UrlApiDapperz"          value="http://elmer.somee.com/EmployeesDapper/"/>
		<add key="UrlApiEntityFrameworkz" value="http://elmer.somee.com/EmployeesEntityFramework/"/>
		<add key="UrlApiLogin"            value="https://elmer.somee.com/Login/"/>
		<add key="UrlApiDapper"           value="https://elmer.somee.com/EmployeesDapper/"/>
		<add key="UrlApiEntityFramework"  value="https://elmer.somee.com/EmployeesEntityFramework/"/>
	</appSettings>	

	<applicationSettings>
        <ApiRestDesktopClient.Properties.Settings>
            <setting name="UrlApiEntityFramework" serializeAs="String">
				<value>https://localhost:7234/EmployeesEntityFramework/</value>
            </setting>
            <setting name="UrlApiDapper" serializeAs="String">
                <value>https://localhost:7234/EmployeesDapper/</value>
            </setting>
            <setting name="UrlApiLogin" serializeAs="String">
                <value>https://localhost:7234/Login/</value>
            </setting>
        </ApiRestDesktopClient.Properties.Settings>
    </applicationSettings>
</configuration>